<a href="https://colab.research.google.com/github/Ynajooje/Projetos-Academicos/blob/main/aula1alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [8]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [9]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [10]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [11]:
df.shape

(133349, 11)

In [14]:
linhas, colunas = df.shape [0], df.shape [1]
print ("linhas:", linhas)
print ("colunas:", colunas)

linhas: 133349
colunas: 11

In [21]:
df.columns

Index(['ano', 'nivel_experiencia', 'tipo_emprego', 'titulo_cargo', 'salario',
       'moeda_salario', 'salario_em_usd', 'residencia_empregado',
       'proporcao_remoto', 'localizacao_empresa', 'porte_empresa'],
      dtype='object')

In [22]:
# Create a dictionary with the current column names and their Portuguese translations
new_column_names = {
    'ano': 'ano',
    'nivel_experiencia': 'nivel_experiencia',
    'tipo_emprego': 'tipo_emprego',
    'titulo_cargo': 'cargo',
    'salario': 'salario',
    'moeda_salario': 'moeda',
    'salario_em_us': 'usd',
    'residencia_empregado': 'residencia',
    'proporcao_remoto': 'remoto',
    'localizacao_empresa': 'localizacao_empresa',
    'porte_empresa': 'porte_empresa'
}

# Rename the columns using the dictionary
df.rename(columns=new_column_names, inplace=True)

# Display the updated column names to confirm the changes
display(df.columns)

Index(['ano', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario', 'moeda',
       'salario_em_usd', 'residencia', 'remoto', 'localizacao_empresa',
       'porte_empresa'],
      dtype='object')

In [23]:
df["nivel_experiencia"].value_counts()

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [24]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [25]:
df["remoto"].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [27]:
# Create a dictionary to map the English experience levels to Portuguese
experience_level_map = {
    'SE': 'Senior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
}

# Apply the mapping to the 'nivel_experiencia' column
df['nivel_experiencia'] = df['nivel_experiencia'].replace(experience_level_map)

# Display the updated value counts to confirm the changes
display(df['nivel_experiencia'].value_counts())

nivel_experiencia
Senior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [28]:
# Create a dictionary to map the English employment types to Portuguese
employment_type_map = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
}

# Apply the mapping to the 'tipo_emprego' column using replace
df['tipo_emprego'] = df['tipo_emprego'].replace(employment_type_map)

# Display the updated value counts to confirm the changes
display(df['tipo_emprego'].value_counts())

tipo_emprego
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [30]:
# Create a dictionary to map the remote ratio to Portuguese terms
remote_map = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

# Apply the mapping to the 'remoto' column using replace
df['remoto'] = df['remoto'].replace(remote_map)

# Display the updated value counts to confirm the changes
display(df['remoto'].value_counts())

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [31]:
df.head()

,ano,nivel_experiencia,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,localizacao_empresa,porte_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,M
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,M
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,M
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,M
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,M

In [32]:
df.describe (include="object")

,nivel_experiencia,tipo_emprego,cargo,moeda,residencia,remoto,localizacao_empresa,porte_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Tempo Integral,Data Scientist,USD,US,Presencial,US,M
freq,77241,132563,17314,126140,119579,105312,119641,129561